@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

html {
  background: url("./images/taylor-simpson-Cpy1BBWp0X4-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(5px);
}

* {
  font-family: 'Red Hat Text', sans-serif;
}

.App {
  text-align: center;

}

.main-container {
  /* centers everyting and should be responsive */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* creates the blurred effect for main container */
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  padding: 2%;
  margin: 6%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */


/* BUTTONS*/

.loginbutton {
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
}

.signupbutton {
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
}